.container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    /* background-color: gray; */
    flex-wrap: wrap;


    /* 
    Paara que haya cierto responsive
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(150px,1fr)        
    );
    gap: 45px; */
}
